<div class="container mt-2 mb-2">
    <div class="card p-4 shadow">

        <form [formGroup]="registerForm" (ngSubmit)="registerFormSubmit()">
            <h5 class="mb-4">Personal Information</h5>

            <div class="row">
                <div class="col-12 mb-3">
                    <label class="form-label">First Name</label>
                    <input type="text" class="form-control" formControlName="firstName" placeholder="Enter first name">

                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('firstName')?.touched && registerForm.get('firstName')?.invalid">

                        <small *ngIf="registerForm.get('firstName')?.errors?.['required']">
                            First name is required.
                        </small>

                        <small *ngIf="registerForm.get('firstName')?.errors?.['pattern']">
                            Only letters and spaces are allowed.
                        </small>
                    </div>

                </div>



                <div class="col-12 mb-3">
                    <label class="form-label">Last Name</label>
                    <input type="text" class="form-control" formControlName="lastName" placeholder="Enter last name">
                    <div class="text-danger"
                        *ngIf="registerForm.get('lastName')?.touched && registerForm.get('lastName')?.errors?.['required']">
                        Last name is required.
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Password</label>

                    <input type="password" class="form-control" formControlName="password" placeholder="Enter password">

                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">

                        <small *ngIf="registerForm.get('password')?.errors?.['required']">
                            Password is required.
                        </small>

                        <small
                            *ngIf="registerForm.get('password')?.dirty && registerForm.get('password')?.errors?.['pattern']">
                            Password must be at least 8 characters long and contain:
                            <ul class="mb-0 ps-3">
                                <li>One uppercase letter (A-Z)</li>
                                <li>One lowercase letter (a-z)</li>
                                <li>One number (0-9)</li>
                                <li>One special character (&#64;, #, $, %, etc.)</li>
                            </ul>
                        </small>

                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Date of Birth</label>

                    <div class="row">
                        <div class="col-md-4">
                            <select class="form-select" formControlName="month">
                                <option value="">Select month</option>
                                <option value="1">January</option>
                                <option value="2">February</option>
                                <option value="3">March</option>
                                <option value="4">April</option>
                                <option value="5">May</option>
                                <option value="6">June</option>
                                <option value="7">July</option>
                                <option value="8">August</option>
                                <option value="9">September</option>
                                <option value="10">October</option>
                                <option value="11">November</option>
                                <option value="12">December</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="registerForm.get('month')?.touched && registerForm.get('month')?.errors?.['required']">
                                Month is required.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <select class="form-select" formControlName="day">
                                <option value="">Select day</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>

                            <div class="text-danger"
                                *ngIf="registerForm.get('day')?.touched && registerForm.get('day')?.errors?.['required']">
                                Day is required.
                            </div>
                        </div>

                        <div class="col-md-4">
                            <select class="form-select" formControlName="year">
                                <option value="">Select year</option>
                                <option value="2005">2005</option>
                                <option value="2004">2004</option>
                                <option value="2003">2003</option>
                                <option value="2002">2002</option>
                                <option value="2001">2001</option>
                                <option value="2000">2000</option>
                                <option value="1999">1999</option>
                                <option value="1998">1998</option>
                            </select>
                            <div class="text-danger"
                                *ngIf="registerForm.get('year')?.touched && registerForm.get('year')?.errors?.['required']">
                                Year is required.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label d-block">Gender</label>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="male" value="male"
                            formControlName="gender">
                        <label class="form-check-label" for="male">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="female" value="female"
                            formControlName="gender">
                        <label class="form-check-label" for="female">Female</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="gender" id="other" value="other"
                            formControlName="gender">
                        <label class="form-check-label" for="other">Other</label>
                    </div>

                    <div class="text-danger"
                        *ngIf="registerForm.get('gender')?.touched && registerForm.get('gender')?.errors?.['required']">
                        Please select a gender.
                    </div>
                </div>

            </div>

            <!-- <button class="btn btn-primary" (click)="setValue()">Set Value</button> -->
            <!-- <button class="btn btn-success ms-3" (click)="patchValue()">Patch Value</button> -->

            <table class="table table-striped table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date of Birth</th>
                        <th>Gender</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of storeData">
                        <td>{{data.firstName}} {{data.lastName}}</td>
                        <td>{{data.day}}-{{data.month}}-{{data.year}}</td>
                        <td>{{data.gender}}</td>
                    </tr>
                </tbody>
            </table>
            <!-- --------------------------------------------------------------------------------------------------------- -->
            <hr>

            <h5 class="mb-3">Account Information</h5>

            <div class="row">

                <div class="col-12 mb-3">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
                    <div class="text-danger" *ngIf="registerForm.get('email')?.touched &&
                              registerForm.get('email')?.invalid">

                        <small *ngIf="registerForm.get('email')?.errors?.['required']">
                            Email is required.
                        </small>

                        <small *ngIf="registerForm.get('email')?.errors?.['email']">
                            Enter a valid email.
                        </small>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Confirm Email</label>
                    <input type="email" class="form-control" formControlName="confirmEmail" placeholder="Confirm email">
                    <div class="text-danger mt-1" *ngIf="registerForm.get('confirmEmail')?.touched ">

                        <small *ngIf="registerForm.get('confirmEmail')?.errors?.['required']">
                            Confirm Email is required.
                        </small>

                        <small *ngIf="registerForm.get('confirmEmail')?.errors?.['email']">
                            Enter a valid email.
                        </small>
                        <!-- this is for pattern matching  -->
                        <small *ngIf="emailMismatch">
                            Email does not match.
                        </small>


                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="accountPassword"
                        placeholder="Enter password">
                    <div class="text-danger mt-1" *ngIf="registerForm.get('accountPassword')?.touched &&
               registerForm.get('accountPassword')?.invalid">

                        <small *ngIf="registerForm.get('accountPassword')?.errors?.['required']">
                            Password is required.
                        </small>

                        <small *ngIf="registerForm.get('accountPassword')?.errors?.['pattern']">
                            Password must contain uppercase, lowercase, number and special character.
                        </small>

                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" formControlName="confirmPassword"
                        placeholder="Confirm password">
                    <div class="text-danger mt-1" *ngIf="registerForm.get('confirmPassword')?.touched">

                        <small *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
                            Confirm Password is required.
                        </small>
                        <small *ngIf="passwordMismatch">
                            Password does not match.
                        </small>

                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Security Question</label>
                    <select class="form-select" formControlName="securityQuestion">
                        <option>Select a Question</option>
                        <option>What is your pet's name?</option>
                        <option>What is your favorite color?</option>
                    </select>

                    <div class="text-danger mt-1" *ngIf="registerForm.get('securityQuestion')?.touched &&
           registerForm.get('securityQuestion')?.errors?.['required']">

                        <small>Please select a security question.</small>

                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Security Answer</label>
                    <input type="text" class="form-control" formControlName="securityAnswer"
                        placeholder="Enter security answer">
                    <div class="text-danger mt-1" *ngIf="registerForm.get('securityAnswer')?.touched &&
               registerForm.get('securityAnswer')?.invalid">

                        <small *ngIf="registerForm.get('securityAnswer')?.errors?.['required']">
                            Security Answer is required.
                        </small>

                    </div>
                </div>

            </div>

            <hr>
            <!-- --------------------------------------------------------------------------------------------------- -->
            <h5 class="mb-3">Contact Information</h5>

            <div class="row">

                <div class="col-12 mb-3">
                    <label class="form-label">Address</label>
                    <textarea class="form-control" rows="3" formControlName="address"
                        placeholder="Enter address"></textarea>
                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('address')?.touched && registerForm.get('address')?.invalid">

                        <small *ngIf="registerForm.get('address')?.errors?.['required']">
                            Address is required.
                        </small>
                    </div>

                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" formControlName="city" placeholder="Enter city">
                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('city')?.touched && registerForm.get('city')?.invalid">

                        <small *ngIf="registerForm.get('city')?.errors?.['required']">
                            City is required.
                        </small>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">State</label>
                    <select class="form-select" formControlName="state">
                        <option value="">Choose a State</option>
                        <option value="AP">Andhra Pradesh</option>
                        <option value="AR">Arunachal Pradesh</option>
                        <option value="OD">Odisha</option>
                        <option value="BR">Bihar</option>
                        <option value="CG">Chhattisgarh</option>
                        <option value="GA">Goa</option>
                        <option value="GJ">Gujarat</option>
                        <option value="HR">Haryana</option>
                        <option value="HP">Himachal Pradesh</option>
                        <option value="JH">Jharkhand</option>


                    </select>
                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('state')?.touched && registerForm.get('state')?.invalid">

                        <small *ngIf="registerForm.get('state')?.errors?.['required']">
                            State is required.
                        </small>
                    </div>
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Zip Code</label>
                    <input type="text" class="form-control" formControlName="zipCode" placeholder="Enter zip code">
                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('zipCode')?.touched && registerForm.get('zipCode')?.invalid">

                        <small *ngIf="registerForm.get('zipCode')?.errors?.['required']">
                            Zip Code is required.
                        </small>

                        <small *ngIf="registerForm.get('zipCode')?.errors?.['pattern']">
                            Enter a valid 6-digit Zip Code.
                        </small>
                    </div>

                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Phone Number</label>
                    <input type="text" class="form-control" formControlName="phoneNumber"
                        placeholder="Enter phone number">
                    <div class="text-danger mt-1"
                        *ngIf="registerForm.get('phoneNumber')?.touched && registerForm.get('phoneNumber')?.invalid">

                        <small *ngIf="registerForm.get('phoneNumber')?.errors?.['required']">
                            Phone Number is required.
                        </small>

                        <small *ngIf="registerForm.get('phoneNumber')?.errors?.['pattern']">
                            Enter a valid 10-digit mobile number.
                        </small>
                    </div>

                </div>



            </div>

            <button class="btn btn-primary w-100 mt-3">
                Register
            </button>
        </form>

    </div>
</div>