
.card{
    /* max-width:600px;
    margin:auto; */
    border-radius:10px;
  
}

h5{
    font-weight:700;
    color:#444;
  
    padding-bottom:8px;
}

.form-label{
    font-weight:500;
}

.form-control,
.form-select{
    border-radius:6px;
}
